USE [SimuladorExamenUPN]
GO
/****** Object:  Table [dbo].[Alternativa]    Script Date: 14/11/2019 22:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alternativa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](2000) NOT NULL,
	[EsCorrecto] [bit] NOT NULL,
	[PreguntaId] [int] NOT NULL,
 CONSTRAINT [PK_Alternativa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Examen]    Script Date: 14/11/2019 22:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemaId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_Examen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExamenPregunta]    Script Date: 14/11/2019 22:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamenPregunta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamenId] [int] NOT NULL,
	[PreguntaId] [int] NOT NULL,
 CONSTRAINT [PK_ExamenPregunta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 14/11/2019 22:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [text] NULL,
	[TemaId] [int] NOT NULL,
 CONSTRAINT [PK_Pregunta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 14/11/2019 22:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](500) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Taxi]    Script Date: 14/11/2019 22:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](50) NULL,
	[Conductor] [nvarchar](50) NULL,
	[Vehiculo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Taxi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tema]    Script Date: 14/11/2019 22:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](500) NULL,
	[Descripcion] [text] NULL,
 CONSTRAINT [PK_Tema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/11/2019 22:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Alternativa] ON 

INSERT [dbo].[Alternativa] ([Id], [Descripcion], [EsCorrecto], [PreguntaId]) VALUES (1, N'Tras el ataque a Pearl Harbor', 0, 1)
INSERT [dbo].[Alternativa] ([Id], [Descripcion], [EsCorrecto], [PreguntaId]) VALUES (2, N'
Tras el asesinato del archiduque Francisco Fernando', 1, 1)
INSERT [dbo].[Alternativa] ([Id], [Descripcion], [EsCorrecto], [PreguntaId]) VALUES (4, N'Tras la invasión a Polonia', 0, 1)
SET IDENTITY_INSERT [dbo].[Alternativa] OFF
SET IDENTITY_INSERT [dbo].[Examen] ON 

INSERT [dbo].[Examen] ([Id], [TemaId], [UsuarioId], [FechaCreacion]) VALUES (7, 1, 1, CAST(N'2019-11-14 21:38:21.527' AS DateTime))
INSERT [dbo].[Examen] ([Id], [TemaId], [UsuarioId], [FechaCreacion]) VALUES (8, 2, 1, CAST(N'2019-11-14 21:41:53.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[Examen] OFF
SET IDENTITY_INSERT [dbo].[ExamenPregunta] ON 

INSERT [dbo].[ExamenPregunta] ([Id], [ExamenId], [PreguntaId]) VALUES (1, 7, 13)
INSERT [dbo].[ExamenPregunta] ([Id], [ExamenId], [PreguntaId]) VALUES (2, 7, 18)
INSERT [dbo].[ExamenPregunta] ([Id], [ExamenId], [PreguntaId]) VALUES (3, 7, 9)
SET IDENTITY_INSERT [dbo].[ExamenPregunta] OFF
SET IDENTITY_INSERT [dbo].[Pregunta] ON 

INSERT [dbo].[Pregunta] ([Id], [Descripcion], [TemaId]) VALUES (1, N'¿Cómo comenzó la I Guerra Mundial?', 1)
INSERT [dbo].[Pregunta] ([Id], [Descripcion], [TemaId]) VALUES (3, N'cccc', 2)
INSERT [dbo].[Pregunta] ([Id], [Descripcion], [TemaId]) VALUES (4, N'eeee', 1002)
SET IDENTITY_INSERT [dbo].[Pregunta] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Nombre', N'asdasd')
INSERT [dbo].[Producto] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Nombre', N'sdfdf')
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Taxi] ON 

INSERT [dbo].[Taxi] ([Id], [Placa], [Conductor], [Vehiculo]) VALUES (1, N'ABC-1', N'Miguel', N'Toyota')
INSERT [dbo].[Taxi] ([Id], [Placa], [Conductor], [Vehiculo]) VALUES (2, N'ABC-2', N'Javier', N'Nissan')
SET IDENTITY_INSERT [dbo].[Taxi] OFF
SET IDENTITY_INSERT [dbo].[Tema] ON 

INSERT [dbo].[Tema] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Primera Guerra Mundial 1', N'...')
INSERT [dbo].[Tema] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Hola Mundo x2', N'...')
INSERT [dbo].[Tema] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Java Avanzado', N'...')
SET IDENTITY_INSERT [dbo].[Tema] OFF
