

<h2>@ViewBag.Tema.Nombre</h2>
<h4>Crear Pregunta</h4>

<form action="/Pregunta/Crear?temaId=@ViewBag.Tema.Id" method="post">
        

    <div class="form-group">
        <label>Pregunta</label>
        <textarea class="form-control" name="Descripcion">@Model.Descripcion</textarea>
        @Html.ValidationMessage("Descripcion")
    </div>
    <button class="btn btn-primary">Guardar</button>
    <a class="btn btn-link" href="/Pregunta/Index?temaId=@ViewBag.Tema.Id">Cancelar</a>
</form>