<h2>Crear Tema</h2>

<h3>@ViewBag.Message</h3>

<form action="/Tema/Crear" method="post">
    Tema
    <input name="Nombre">
    Descripción
    <textarea name="Descripcion"></textarea>

    <button>Guardar</button>
</form>