
<h2>Temas</h2>

<a href="/Tema/Crear">Crear</a>


<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Revolución Francesa</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Primera Guerra Mundial</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Lenguajes de Programación for dummies</td>
            <td>...</td>
        </tr>
    </tbody>

</table>
