
<h2>Temas</h2>

<a href="/Tema/Crear">Crear</a>


<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>
                    <a href="/Tema/Editar?id=@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>

</table>
