@using SimuladorExamenUPN.Models
@model Examen

@{
    ViewBag.Title = "DarExamen";
}

<h2>DarExamen</h2>

<form action="/HomeExamen/GuardarExamen" method="post">
    <input type="hidden" name="ExamenId"value="@Model.Id" />
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>#</th>
                <th>Pregunta</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{ var index = 1; }
            @foreach (var item in Model.Preguntas.OrderBy(x => Guid.NewGuid()))
            {
                <tr>
                    <td><strong>@index</strong></td>
                    <td><strong>@item.Pregunta.Descripcion</strong></td>

                </tr>
                <tr>
                    <td colspan="3">
                        <ul>
                            @foreach (var alt in item.Pregunta.Alternativas.OrderBy(x => Guid.NewGuid()))
                            {
                                <li>
                                    <input type="checkbox" name="name" value="" />
                                    @alt.Descripcion

                                </li>
                            }
                        </ul>
                    </td>
                </tr>
                index++;
            }
        </tbody>

    </table>


</form>



